<header class="navbar flex-row app-header mat-elevation-z5">
  <div class="d-flex align-items-center">
    <ul class="navbar-nav flex-row align-items-center">
      <li class="nav-item d-flex ml-3"><mat-icon >shopping_cart</mat-icon></li>
      <li class="nav-item d-flex ml-3"><mat-icon >notifications</mat-icon></li>
    </ul>
  </div>
  <div class="">
    <ul class="navbar-nav flex-row align-items-center">
      <li class="nav-item d-flex" (click)="menuClick()"><mat-icon >menu</mat-icon></li>
    </ul>
  </div>

</header>
