<header class="navbar px-4 flex-column flex-md-row">
  <a aria-label="NG Bootstrap" class="navbar-brand mr-2 mr-md-0" routerlink="/" href="#/">

    <span class="ml-2  d-inline">ng-bootstrap</span>
  </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row align-items-center">
      <li class="nav-item"><a class="nav-link" href="#/getting-started">Getting Started</a></li>
      <li class="nav-item active ml-1"><a class="nav-link" href="#/components">Components</a></li>
    </ul>
  </div>

</header>
