
<div class="row no-padding" dir="rtl">


  <div class="col-lg-3 text-right" dir="rtl">
    <mat-form-field color="color" class="full-width">
      <input matInput #filter (keyup)="applyFilter($event.target.value)" (keydown)="filterKeyDown($event.code)"
             placeholder="فلتر" autofocus>
    </mat-form-field>
  </div>
  <div class="col-lg-3 text-right" dir="rtl">
    <app-items-filter
      *ngIf="items"
      class="full-width"
      placeholder="ادخل مادة جديدة"
      #filter  (keydown)="itemsFilterKeyDown($event.code)"
      [items]="items"
    ></app-items-filter>
  </div>



</div>

<div class="row">
  <app-item-details *ngIf="selectedItem" [item]="selectedItem"></app-item-details>

</div>
<div class="row">
  <app-item-details-input *ngIf="selectedItem" [item]="selectedItem" (enterPressed)="inputEnterPress()"></app-item-details-input>

</div>

<div class="row" dir="rtl">
  <div class="mat-elevation-z3 full-width">
    <table mat-table [dataSource]="dataSource" class="full-width">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef dir="rtl"> الاسم</th>
        <td mat-cell *matCellDef="let row" dir="rtl"> {{row.item.name}}</td>
      </ng-container>


      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> الرمز</th>
        <td mat-cell *matCellDef="let row"> {{row.item.code}}</td>
      </ng-container>


      <!-- Shape Column -->
      <ng-container matColumnDef="shape">
        <th mat-header-cell *matHeaderCellDef> الشكل</th>
        <td mat-cell *matCellDef="let row"> {{row.item.shape}}</td>
      </ng-container>


      <!-- Identifier Column -->
      <ng-container matColumnDef="identifier">
        <th mat-header-cell *matHeaderCellDef> المعرف</th>
        <td mat-cell *matCellDef="let row"> {{row.item.identifier}}</td>
      </ng-container>

      <!-- size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> الشكل</th>
        <td mat-cell *matCellDef="let row"> {{row.item.size}}</td>
      </ng-container>

      <!-- factory Column -->
      <ng-container matColumnDef="factory">
        <th mat-header-cell *matHeaderCellDef> المصنع</th>
        <td mat-cell *matCellDef="let row"> {{row.item.factory}}</td>
      </ng-container>

      <!-- count Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef> متواجد</th>
        <td mat-cell *matCellDef="let row"> <mat-icon color="warn" *ngIf="!row.available">remove_circle</mat-icon> <mat-icon color="accent" *ngIf="row.available">add_circle</mat-icon> </td>
      </ng-container>

      <!-- expiration Column -->
      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef> انتهاء الصلاحية</th>
        <td mat-cell *matCellDef="let row"> {{row.expiration}}</td>
      </ng-container>

      <!-- discount Column -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> الحسم</th>
        <td mat-cell *matCellDef="let row"> {{row.discount}}</td>
      </ng-container>

      <!-- bonus Column -->
      <ng-container matColumnDef="bonus">
        <th mat-header-cell *matHeaderCellDef> البونص</th>
        <td mat-cell *matCellDef="let row"> {{row.bonusFormatted}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="text-right" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)"
          [class.selected-row]="selectedItem === row" [class.error-row]="row.rowState.error">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
