@import "../../../../../theme.scss";
tr{
  transition:all 0.2s;
  td{
    transition:all 0.2s;
  }
}

.selected-row {
  background: get-color($mat-accent , map_get($accent , 'default') , 1);
  td {
    color: #fff;
  }
  mat-icon{
    color:#fff;
  }
}
.error-row{
  background: get-color($mat-danger , map_get($danger , 'darker'));
}


