<div class="row full-width" dir="rtl"  *ngIf="repositoryItem">
  <div class="col-lg-2">
    <mat-form-field  class="full-width" color="primary">
      <input #expirationInput type="date" matInput (keydown)="inputKeyDown($event.code)" name="expiration" placeholder="تاريخ الصلاحية"  [(ngModel)]="repositoryItem.expiration"  />
    </mat-form-field>
  </div>
  <div class="col-lg-2 checkbox-wrapper" >
      <mat-checkbox (keydown)="inputKeyDown($event.code)" color="primary" [(ngModel)]="repositoryItem.available">متوفر</mat-checkbox>
  </div>
  <div class="col-lg-2">
    <mat-form-field  class="full-width" color="primary">
      <input type="number" max="100" appMaxFloat="100" matInput (keydown)="inputKeyDown($event.code)" name="discount"    placeholder="الخصم" [(ngModel)]="repositoryItem.discount"  />
    </mat-form-field>
  </div>
  <div class="col-lg-1">
    <mat-form-field  class="full-width" color="primary">
      <input type="number" [appMaxInt] max="1000000000" matInput (keydown)="inputKeyDown($event.code)" name="bonus"  placeholder="بونص" [(ngModel)]="repositoryItem.bonus"  />
    </mat-form-field>
  </div>
  <div class="col-lg-1">
    <mat-form-field  class="full-width" color="primary">
      <input  type="number" [appMaxInt] max="1000000000" matInput (keydown)="inputKeyDown($event.code)" name="bonus_each"  placeholder="لكل" [(ngModel)]="repositoryItem.bonus_each"  />
    </mat-form-field>
  </div>
  <div class="col-lg-2 button-wrapper">
    <button mat-button color="primary" mat-flat-button class="full-width" (click)="inputEnterPress()">حفظ</button>
  </div>
</div>
