
<div class="reset-password-wrapper full-width float-right">
  <mat-card>
    <form (submit)="submit($event)" #form="ngForm" (change)="test()" [formGroup]="resetForm" method="post">

      <h2 class="mat-h2 full-width text-right primary-color" >
          تغيير كلمة المرور
      </h2>

      <div class="text-right" dir="rtl">
        <mat-form-field class="full-width" color="primary">
          <input type="password" [formControl]="passwordFormControl" matInput placeholder="كلمة المرور"
                 name="password" required/>


          <mat-error *ngIf="passwordFormControl.hasError('required')">
            كلمة المرور <strong> مطلوبة </strong>
          </mat-error>

          <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength')  " >
            كلمة المرور يجب أن تكون بين <strong> 8 - 32 </strong> حرف
          </mat-error>

          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" color="primary" >
          <input [errorStateMatcher]="matcher" type="password" [formControl]="confirmPasswordFormControl" matInput placeholder="تأكيد كلمة المرور"
                 name="password" required/>


          <mat-error *ngIf="resetForm.hasError('notSame')">
            تأكيد كلمة المرور يجب أن تطابق كلمة المرور
          </mat-error>
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </div>
      <br/>

      <div class="full-width">
        <button class="full-width" mat-raised-button color="primary" [disabled]="!resetForm.valid">ارسال</button>
      </div>
    </form>
  </mat-card>

</div>
