

@import "../../../../../theme.scss";

label , span{
  text-align: right !important;
}
input{
  text-align: right;
  color:get-color($mat-24count );
  width: 100%;
}
.mat-form-field-underline{
  background-color: get-color($mat-24count , $default , .42) !important;
  display: none ;
}
