
<mat-form-field class="full-width" >
  <input #filter  autofocus type="text" [disabled]="disabled" [placeholder]="placeholder"
         aria-label="Number" matInput [formControl]="filterControl" [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption (optionSelected)="selectedItemChange($event.option.value)"
                    #auto="matAutocomplete" [displayWith]="itemDisplay">
    <mat-option *ngFor="let item of filteredItems | async" [value]="item">
      {{item.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
