$layout:#222D32;
$layout-border:#546e7a;

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);
$mat-24count: (
  50: #ffeaec,
  100: #ffcacc,
  200: #ed9590,
  300: #e26b65,
  400: #e94a3e,
  500: #ec381e,
  600: #de2d1f,
  700: #cc211a,
  800: #c01813,
  900: #b10303,
  A100: #ffcacc,
  A200: #ed9590,
  A400: #e94a3e,
  A700: #cc211a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$mat-gray: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-danger: (
  50 : #fff8e1,
  100 : #ffecb5,
  200 : #ffe083,
  300 : #ffd451,
  400 : #ffca2c,
  500 : #ffc107,
  600 : #ffbb06,
  700 : #ffb305,
  800 : #ffab04,
  900 : #ff9e02,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe4bf,
  A700 : #ffd9a6,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: black,
  )
);




$mat-accent: (
  50 : #e1f6ee,
  100 : #b3e9d5,
  200 : #81daba,
  300 : #4ecb9e,
  400 : #28c089,
  500 : #02b574,
  600 : #02ae6c,
  700 : #01a561,
  800 : #019d57,
  900 : #018d44,
  A100 : #b9ffd6,
  A200 : #86ffb7,
  A400 : #53ff99,
  A700 : #3aff8a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);



$default:700;
$lighter:600;
$darker:800;

$primary : (
  'default' : 700 ,
  'lighter' : 600 ,
  'darker' : 800
);

$accent : (
  'default' : 500 ,
  'lighter' : 400 ,
  'darker' : 600
);

$danger : (
  'default' : 700 ,
  'lighter' : 600 ,
  'darker' : 800
);



@function get-contrast($palette, $hue) {
  @return map-get(map-get($palette, contrast), $hue);
}
@function get-color($palette, $hue: $default, $opacity: 1) {
  $color: map-get($palette, $hue);
  $opacity: if($opacity == null, opacity($color), $opacity);
  @return rgba($color, $opacity);
}
